# Build matrix / environment variable are explained on:
# http://about.travis-ci.org/docs/user/build-configuration/
# This file can be validated on:
# http://lint.travis-ci.org/
sudo: required

language: ruby

services:
  - docker

env:
  - TERRAFORM_VERSION=0.11.1 IMAGE_NAME=azure-compute-module

before_install:
  # Bake the image.
  - docker build -t ${IMAGE_NAME} .

script:
  # Run the container.
  - docker run ${IMAGE_NAME} /bin/sh -c  "rake build"
